[aria-label="hadesLogo"] {
    background-image: url('https://ohdsi.github.io/Hades/images/hadesMini.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 36px;
    font-size: 0;
}
li:has(a[aria-label="hadesLogo"]:hover) {
    background-image: url('https://ohdsi.github.io/Hades/images/hadesMini.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 36px;
    font-size: 0;
}
